.game-logo {
  margin: 120px auto !important;
  font-size: 3em;
  font-family: Georgia, monospace;
  h2 {
    background: linear-gradient(45deg, #b50923, #d4219d, #1576de, #349be4, #75229e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.game-card-block {
  padding: 16px 46px;
  margin: 24px;
  .black {
    color: #000000;
  }
  .red {
    color: #FF0000;
  }
  .teal-card {
    background: radial-gradient(#87cbf2, #349be4, #0066ff);
    border: 6px solid #ebebec;
  }
  .card {
    height: 150px;
    width: 120px;
    padding: 8px;
    margin: 12px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    .card__number {
      font-size: 1.2em;
    }
    .card__suit--bottom {
      transform: rotate(180deg);
    }
  }
  .front-card {
    background: #ffffff;
  }
  .preview-double {
    margin-right: -60px;
    background: #fff;
    z-index: 1;
  }
}
